@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

:root {
    font-family: 'IBM Plex Mono', monospace !important;
}

/* .MuiButton-root {
    font-family: 'IBM Plex Mono', monospace !important;
} */

.MuiTypography-root {
    font-family: 'IBM Plex Mono', monospace !important;
}

.MuiPaper-root {
    backdrop-filter: blur(10px) !important;
    border-radius: 0 !important; 
}